.header {
			position: fixed;
			z-index: 9999;
			width: 100%;
			max-width: 1440px;
			height: 100px;
			background-color: #fff;
			opacity: 0.9;
			display: flex;
			justify-content: space-between;
			/*box-shadow: #8C9bA5 0 0 3px 1px;*/
		}

		.header .logo {
			font-family: 'SourceSansPro-Bold', helvetica;
			line-height: 100px;
			padding-left: 10%;
		}

		.header img {
			opacity: 0;
		}

		.header ul {
			list-style-type: none;
			padding-right: 10%;
		}

		.header ul li {
			display: inline-block;
			width: 70px;
			height: 100px;
			line-height: 100px;
			text-align: right;
		}

		.header ul li:nth-child(1) a {
			color: #000;
			border-bottom: 3px solid #000;
		}

		.header ul li a {
			color: #555;
			text-decoration: none;
			font-family: 'SourceSansPro-Regular';
			display: inline-block;
			height: 70px;
		}

		.header ul li a:hover {
			color: #000;
			/*border-bottom: 3px solid #000;*/
		}